* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    padding: 10px;
}

main {
    background: rgb(24, 24, 79);
    height: 10vh;
}

h2 {
    text-align: center;
}

main h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    text-align: center;
    color: rgb(76, 225, 228);
    font-size: 15px;
    padding: 5px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    margin-top: 5px;
    color: red;
    text-decoration: underline;
    font-size: 20px;
}

section h2 {
    text-align: center;
    font-size: 30px;
}

img {
    margin-top: 30px;
}

p {
    margin: 5px 0px 10px 0;
    text-align: justify;
}

footer h2 {
    color: #fff;
    background: rgb(24, 24, 79);
    padding: 5px;
    height: 15vh;
}

footer h4 {
/*     color: #fff; */
    background: rgb(24, 24, 79);
    padding: 5px;
    text-align: center;
    color: rgb(76, 224, 227);
    font-size: 15px;
  
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    width: 100%;
    color: rgb(111, 108, 108);
}